@model Coticula.Web.Models.Result

@{
    ViewBag.Title = string.Format("Delete solution ID={0}", Model.Id);
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
